body[theme="dark"] {
    --theme-background: #222;
    --theme-foreground: rgba(255, 255, 255, .95);
    --theme-border: rgb(70, 70, 70);
    --theme-button-background: #4f4f4f;
    --theme-button-background-hover: #444;
}

body {
    --headbar-height: 3em;
    --tag-background: #1678c2;
}

body {
    background: var(--theme-background);
    color: var(--theme-foreground);
    font-size: large;
}

/* display */
.hidden {
    display: none;
}

/* input */
input {
    background: transparent;
    color: var(--theme-foreground);
    border: 1px solid var(--theme-border);
    border-top: none;
    padding: .4em;
    font-size: medium;
    /* width: auto; */
}

input:nth-child(2),
input:first-child {
    border-top: 1px solid var(--theme-border);
}

textarea:focus,
input:focus {
    outline: none;
}

/* button */
button {
    background: var(--theme-button-background);
    color: var(--theme-foreground);
    border: none;
    padding: .7em 1em;
    border-radius: .3em;
    margin: .5em;
    font-weight: bolder;
}

button.primary {
    background: #2185d0;
}

button.primary:hover {
    background: #1678c2;
}

button:hover {
    background: var(--theme-button-background-hover);
    cursor: pointer;
}

button.in-form {
    margin: 0;
    border-radius: 0;
    height: 2.8em;
}


/* column input */
/* search input */
#left-container>div>input {
    border-radius: 100em;
    height: 2em;
    padding: 0 1em;
    margin: 0 1em;
    border: 1px solid var(--theme-border);
    flex-grow: 1;
    width: 1em;
    min-width: 5em;
}

#left-container>div.flex-row {
    align-self: stretch;
}

/* table style */
table,
th,
td {
    padding: 0.5em;
    text-align: center;
}

td.left-align {
    text-align: left;
}

td {
    border-top: 1px solid var(--theme-border);
}

th {
    font-weight: bolder;
}

table {
    border-collapse: collapse;
}

.sortup::after {
    content: "⬆";
}

.sortdown::after {
    content: "⬇";
}

/* comment area */
#comment_area {
    border: 1px solid var(--theme-border);
    border-radius: .2em;
    margin-top: 1em;
    padding: 0 .5em;
    align-items: start;
}

#comment_area>div {
    width: 100%;
}

#comment_area textarea {
    background: transparent;
    border: none;
    color: var(--theme-foreground);
    width: 100%;
    height: 15em;
    font-size: 1.3em;
    resize: vertical;
}

#comment_area button {
    margin-top: 1em;
    margin-bottom: -3.3em;
}

/* form style */
#add-form {
    margin-top: 3em;
}

#add-form input {
    width: 45%;
}

/* headbar */
#headbar {
    height: var(--headbar-height);
    margin: 0;
    padding-left: 2em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    border-bottom: 1px solid var(--theme-border);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headbar h3 {
    margin: 0;
}

/* tag */
#tag-container {
    margin-top: 1em;
}

.tag {
    background-color: var(--tag-background);
    margin: .3em;
    padding: 0 .3em;
    border-radius: 3px;
}

/* game title */
#game-title-container {
    justify-content: space-between;

}

/* layout */
#gametable-page,
#add-form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gametable-page {
    height: calc(100svh - var(--headbar-height) - 2em);
    margin-top: var(--headbar-height);
    margin-left: 2em;
    margin-right: 2em;
}

#right-container,
#left-container {
    overflow: scroll;
    padding-top: 1em;
    /* for Firefox */
    scrollbar-width: none;
    /* for IE and edge */
    -ms-overflow-style: none;
}

/* for Chrome, Safari, Opera */
#right-container::-webkit-scrollbar,
#left-container::-webkit-scrollbar {
    display: none;
}

#right-container {
    padding-left: 2em;
    min-width: 25em;
    width: 40svw;
    border-left: 1px solid var(--theme-border);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}